@model Projeto_Web.ViewModel.RelatorioViewModel

@{
    Layout = "_Layout";
}

<div class="container bg-body-tertiary mt-5 p-5 rounded-3" style="max-height: 70vh;">
    <form class="d-flex mb-3" role="search" id="form">
        <input class="form-control me-2" type="search" placeholder="Filtrar tabela..." aria-label="Search" id="inputFiltro">
        <button class="btn btn-outline-success" type="button" id="btnFiltrar">Filtrar</button>
    </form>

    <h1 class="fw-normal h6">Relatórios de folhas de pagamento</h1>
    <div class="table-responsive" style="max-height: 50vh; overflow-y: auto;">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Data Emissão</th>
                    <th>Valor Liquido +</th>
                    <th>Horas Extras</th>
                    <th>Desconto -</th>
                    <th>IRRF -</th>
                    <th>INSS -</th>
                    <th>Colaborador</th>
                </tr>
            </thead>
            <tbody id="tabelaRelatorios">
                @foreach (var folhaPagamento in Model.FolhasPagamento)
                {
                    <tr>
                        <td>@folhaPagamento.Id</td>
                        <td>@folhaPagamento.DataCriacao.ToString("dd/MM/yyyy")</td>
                        <td>@folhaPagamento.ValorLiquido</td>
                        <td>@folhaPagamento.HorasExtras</td>
                        <td>@folhaPagamento.DescontosTotais</td>
                        <td>@folhaPagamento.Irrf</td>
                        <td>@folhaPagamento.Inss</td>
                        <td>@folhaPagamento.Colaborador.NomeCompleto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>