@using Modelo
@using Modelo.Enum
@model Modelo.Colaborador

@{
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="row" style="height: 80vh;">
        
        <div class="col-md-4 bg-body-tertiary border-custom-gray  rounded-4 p-5">
            <h2 class="text-center h1">Bem vindo(a), @Model.NomeCompleto!</h2>
            <div class="mt-5">
                <p><span class="fw-bold">Nome: </span>@Model.NomeCompleto</p>
                <p><span class="fw-bold">Cargo: </span>@Model.Cargo.ToString()</p>
            </div>
        </div>

        <div class="col-md-8 bg-body-tertiary rounded-4 p-5 pb-1  border-custom-gray">
            <h1 class="text-center">Relatórios</h1>

            <div class="w-100 h-auto h-75 py-5">

                @if (Model.Cargo != TipoCargo.AnalistaDP)
                {
                    <div class="bg-white py-4 px-3 px-md-5 d-flex justify-content-between align-items-center rounded-4 w-md-75 m-auto shadow-sm">
                        <div class="bg-primary rounded-2 p-2">
                            <img src="~/img/employe.png" alt="icon colaborador" width="30px" height="30px">
                        </div>
                        <h3 class="fs-4 mx-4">Relatorios de colaboradores</h3>

                        <a href="@Url.Action("RelatorioColaborador", "Relatorio", new { id = ViewBag.Id })">
                            <img src="~/img/arrow-right.png" alt="link seta" width="40px" height="40px">
                        </a>
                    </div>
                }

                @if (Model.Cargo != TipoCargo.AnalistaRH && Model.Cargo != TipoCargo.AnalistaDP)
                {
                    <div class="bg-white py-4 px-3 px-md-5 d-flex justify-content-between align-items-center rounded-4 w-md-75 m-auto mt-3 shadow-sm">
                        <div class="bg-primary rounded-2 p-2">
                            <img src="~/img/companies.png" alt="icon empresas" width="30px" height="30px">
                        </div>

                        <h3 class="fs-4 mx-4">Relatorios de empresas</h3>

                        <a href="@Url.Action("RelatorioEmpresa", "Relatorio", new { id = ViewBag.Id })">
                            <img src="~/img/arrow-right.png" alt="link seta" width="40px" height="40px">
                        </a>
                    </div>
                }

                @if (Model.Cargo != TipoCargo.AnalistaRH)
                {
                    <div class="bg-white py-4 px-3 px-md-5 d-flex justify-content-between align-items-center rounded-4 w-md-75 m-auto mt-3 shadow-sm">
                        <div class="bg-primary rounded-2 p-2">
                            <img src="~/img/payroll.png" alt="icon folha de pagamento" width="30px" height="30px">
                        </div>

                        <h3 class="fs-4 mx-4">Relatorios de folha de pagamento</h3>

                        <a href="@Url.Action("RelatorioFolhaPagamento", "Relatorio", new { id = ViewBag.Id })">
                            <img src="~/img/arrow-right.png" width="40px" height="40px">
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>